# This workflow will install Python dependencies, run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run tests and linting

on:
  push:
    branches: ["**"]
    tags: ["*"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Julia
        uses: julia-actions/setup-julia@latest
        with:
          version: "1.7"

      - uses: julia-actions/cache@v2

      - name: Julia build
        uses: julia-actions/julia-buildpkg@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -c "import julia; julia.install()"

      - name: Lint with ruff
        run: ruff check --output-format=github .
      - name: Check format with ruff
        run: ruff format . --check --diff

      - name: Test with coverage
        run: pytest -v --cov=src/ -m 'slow or not slow'

      - name: Set test result output
        id: set-output
        run: echo "result=success" >> $GITHUB_OUTPUT
